<main>
    <div id="modal1" class="modal">
        <div class="modal-content">
            окно
        </div>
    </div>
    <h2>Numbers</h2>
    {{#if buttons.length}}
    <ul>
        {{#each buttons}}
        <li class="phone">
            <form action="/complete" method="POST">
                <label>
                    {{#if active}}
                    <input type="checkbox" checked name="active">
                    <span>{{number}}</span>
                    {{else}}
                    <input type="checkbox" name="active">
                    <span class="completed">{{number}}</span>
                    {{/if}}

                    <input type="hidden" value="{{number}}" name="number">
                    <button class="btn btn-small #a1887f brown lighten-2" formaction=" /delete" type="submit"
                        style="margin-left: auto">Delete</button>

                    {{#if confirmed}}
                    <button class="btn btn-small" type="submit" style="width: 90px;">Set</button>
                    {{else if pending}}
                    <button class="btn btn-small disabled" type="submit">Pending</button>
                    {{else if error}}
                    <button class="btn btn-small #ef5350 red lighten-1" type="submit">Error</button>
                    {{else}}
                    <button class="btn btn-small" type="submit">Register</button>
                    {{/if}}
                </label>
            </form>

        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No numbers!</p>
    {{/if}}
    {{#if notify}}
    <div class="card-panel">
        <span id='rename' class="red-text text-darken-2">"{{notify}}"</span>
    </div>
    {{/if}}
    <script src="/reload.js"></script>
</main>